*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  height: 100vh;
  overflow: hidden;
}

:root {
  font-family: var(--font-family-sans-serif);
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  border: none;
  outline: none;
  border: 0;
  padding: 0;
  margin: 0;
  list-style-type: none;
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
