.dashboard-container-p {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    padding: 15px;
    margin: 0 2rem;
    width: 100%;
    box-sizing: border-box;
}

.left-side-p {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: -10px;
}

.main-chart-p {
    background-color: #f5f5f5;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.bottom-section-p {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.right-side-p .MuiListItem-root {
    display: block; /* Garante que cada item ocupe uma linha */
    width: 100%; /* Cada item ocupará a largura total do container */
    margin: 0 auto;
    background-color: #f5f5f5;
    padding: 10px;
}

.bottom-section-p .chart-container-p {
    flex: 1;
    background-color: #f5f5f5;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.chart-container-p h2 {
    margin-bottom: 10px;
    font-size: 20px;
    color: #333;
}

.chart-container-p p {
    font-size: 24px;
    font-weight: bold;
    color: #007bff;
}

.title {
    margin: 1.5rem 4rem 0 4rem;
}

.right-side-p {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: -10px;
    margin-right: 7%;
}

@media (max-width: 768px) {
    .dashboard-container-p {
        grid-template-columns: 1fr;
    }

    .bottom-section-p {
        flex-direction: column;
    }
}