.HeroContent{
    display: inline-block;
    width: 40%;
    height: 40%;
    position: relative;    
    top: 50%;
    left: 50%;
    transform: translate(-50%, 50%); 
    text-align: center;
}

.Titulo p{
    text-align: center;
    font-size: 70px; 
    font-weight: 800; 
    line-height: 62px; 
    text-transform: uppercase;
    background-image: linear-gradient(to right, #407BFF, #6AC2FF);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}  

.Subtitulo p{
    text-align: center; 
    color: #A1A1A1; 
    font-size: 18px; 
    line-height: 28px; 
}

.ButtonCriarConta{
    display: inline-block;
    padding: 16px; 
    border-radius: 10px; 
    color: white; 
    font-size: 18px; 
    font-weight: 700; 
    border: none;
    cursor: pointer;
    line-height: 24px;
    margin: 20px;
}