:root {
  background-color: var(--found-light-blue);
  font-family: var(--font-family-sans-serif);
}

/* body{
  overflow-x: hidden;
} */

nav {
  display: flex;
  justify-content: space-around;
  padding: 50px;
}
  
.LogoFuturize p {
  color: #3E3E3E;
  font-size: 26px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 8px;
}

.MenuItens, ul, li, a {
  display: flex;
  list-style: none;
  gap: 35px;
  font-size: 20px;
  color: #3e3e3e;
  text-decoration: none;
}

.HeroContent {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  margin-bottom: 20px;
}

.Titulo p {
  font-size: 70px;
  font-weight: 800;
  line-height: 70px;
  text-transform: uppercase;
  background-image: linear-gradient(to right, #407BFF, #6AC2FF);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}
  
.Subtitulo p {
  text-align: center;
  color: #A1A1A1;
  font-size: 18px;
  line-height: 28px;
  margin: 1rem;
}

.MainContent {
  display: none;
}

.viseble{
  display: block;
}

.secao{
  display: flex;
}

.secao img{
  height: 200px;
}

  /* Estilos para telas de 370px */
@media (max-width: 370px) {
  .HeroContent p {
    font-size: 36px;
    line-height: 40px;
  }

  .Subtitulo p {
    font-size: 12px;
    line-height: 18px;
    margin: 0.5rem;
  }

  .LogoFuturize p {
    font-size: 16px;
    letter-spacing: 4px;
  }

  .MenuItens,
  .InicialUl,
  li,
  a {
    display: none;
  }

  .SignUp {
    font-size: 12px;
  }
}

/* Estilos para telas de 500px */
@media (max-width: 500px) {
  .HeroContent p {
    font-size: 42px;
    line-height: 46px;
  }

  .Subtitulo p {
    font-size: 14px;
    line-height: 22px;
    margin: 0.5rem;
  }

  .LogoFuturize p {
    font-size: 18px;
    letter-spacing: 4px;
  }

  .MenuItens,
  .InicialUl,
  li,
  a {
    display: none;
  }

  .SignUp {
    font-size: 14px;
  }
}

/* Estilos para telas de 600px */
@media (max-width: 600px) {
  .HeroContent p{
    height: 100%;
    font-size: 46px;
    line-height: 50px;
  }

  .Subtitulo p {
    font-size: 16px;
    line-height: 24px;
    margin: 0.5rem;
  }

  .LogoFuturize p {
    font-size: 20px;
    letter-spacing: 4px;
  }

  .MenuItens,
  .InicialUl,
  li,
  a {
    display: none;
  }

  .SignUp {
    font-size: 16px;
  }
}

/* Estilos para tablets (exemplo: tela com largura máxima de 768px) */
@media (max-width: 768px) {
  .HeroContent p {
    font-size: 50px;
    line-height: 54px;
  }

  .Subtitulo p {
    font-size: 16px;
    line-height: 24px;
    margin: 1rem;
  }
  
  .LogoFuturize p {
    font-size: 20px;
  }

  .MenuItens,
  .InicialUl,
  li,
  a {
    font-size: 16px;
  }

  .SignUp {
    font-size: 16px;
  }
}

/* Estilos para telas de 900px */
@media (max-width: 900px) {
  .HeroContent p {
    font-size: 54px;
    line-height: 58px;
  }

  .Subtitulo p {
    font-size: 18px;
    line-height: 26px;
    margin: 0.5rem;
  }

  .LogoFuturize p {
    font-size: 24px;
    letter-spacing: 4px;
  }

  .MenuItens,
  .InicialUl,
  li,
  a {
    font-size: 18px;
    gap: 12px;
  }

  .SignUp {
    font-size: 18px;
  }
}

/* Estilos para telas de 1200px */
@media (max-width: 1200px) {
  
  .Subtitulo p {
    font-size: 20px;
    line-height: 28px;
    margin: 0.5rem;
  }

  .LogoFuturize p {
    font-size: 26px;
    letter-spacing: 4px;
  }

  .MenuItens,
  .InicialUl,
  li,
  a {
    font-size: 20px;
    gap: 14px;
  }

  .SignUp {
    font-size: 20px;
  }
}
  