 :root {
  background-color: var(--found-light-blue);
  font-family: var(--font-family-sans-serif);
}

html{
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  font-size: 62.5%;
}

body{
  transform-style: preserve-3d;
  overflow-y: scroll;
  overflow-x: hidden;
}

/* Estilos da barra de rolagem */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  padding: 5px;
}

::-webkit-scrollbar-track {
  background: var(--secondary);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
}

::-webkit-scrollbar-thumb {
  background: var(--secondary-menu);
  border-radius: 10px;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem;
}

.LogoFuturize img {
  width: 10rem;
  display: flex;
}

.MenuItens, ul, li, a {
  display: flex;
  list-style: none;
  gap: 35px;
  font-size: 2.0rem;
  color: var(--font-dark);
  text-decoration: none;
}

.HeroContent {
  position: absolute;
  width: 70%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  transform-style: inherit;
}

.Titulo p {
  font-size: 7.0rem;
  font-weight: 800;
  line-height: 70px;
  text-transform: uppercase;
  background-image: linear-gradient(to right, var(--primary), var(--primary-white));
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}
  
.Subtitulo p {
  text-align: center;
  color: var(--gray-light);
  font-size: 1.8rem;
  line-height: 28px;
  margin: 1rem;
}

.MainContent{
  z-index: 2;
  position: absolute;
  padding: 40px;
  top: 100vh;
}

.Secao{
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Texto{
  font-size: 1.5rem;
  width: 50%;
  color: #3E3E3E;
}

.Secao img {
  height: 60%;
}

#sobre{
  border: 2px solid #000;
}
  