@import "/public/assets/css/colors.css";
@import "/public/assets/css/variaveis.css";

:root {
  background-color: var(--found-light-blue, --secondary);
  background: var(--neutrals-white, --secondary-menu);
  font-family: var(--font-family-sans-serif);
  border: var(--dark);
  color: var(--neutrals-dark, --neutrals-gray, --dark-font, --white);
}

html {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body {
  perspective: 1px;
  transform-style: preserve-3d;
  height: 100%;
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}

/* Estilos da barra de rolagem */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  padding: 5px;
}

::-webkit-scrollbar-track {
  background: var(--neutrals-white);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
}

::-webkit-scrollbar-thumb {
  background: var(--secondary-menu);
  border-radius: 10px;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 50px;
}

.LogoFuturize img {
  width: 10rem;
  display: flex;
}

.MenuItens,
ul,
li,
a {
  display: flex;
  list-style: none;
  gap: 35px;
  font-size: 20px;
  color: var(--neutrals-dark);
  text-decoration: none;
}

.HeroContent {
  position: absolute;
  width: 70%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  transform-style: inherit;
}

.Titulo p {
  font-size: 70px;
  font-weight: 800;
  line-height: 70px;
  text-transform: uppercase;
  background-image: linear-gradient(to right, #407bff, #6ac2ff);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

.Subtitulo p {
  text-align: center;
  color: var(--neutrals-gray);
  font-size: 18px;
  line-height: 28px;
  margin: 1rem;
}

.Wave {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
}

section > img {
  position: fixed;
  bottom: 0;
  left: 0;
  max-width: 100%;
  width: 100%;
}

.MainContent {
  position: absolute;
  width: 100%;
  height: 100vh;
  z-index: 2;
  top: 100vh;
}

.status {
  width: 100vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.t-status {
  width: 90%;
  text-align: center;
  font-size: 4vh;
  margin-bottom: 1.5rem;
  font-weight: 900;
  color: var(--dark-font);
}

.carousel-container {
  position: relative;
  width: 90%;
  overflow: hidden;
}

.carousel {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.card {
  min-width: 33.33%; /* Mostrar 3 cards por vez */
  margin: 0 1rem;
  background-color: var(--white);
  border-radius: 15px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
}

.card img {
  width: 100%;
  object-fit: cover;
}

button {
  background-color: transparent;
}

button.prev,
button.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: var(--neutrals-dark);
  border: none;
  padding: 10px;
  cursor: pointer;
}

button.prev {
  left: 10px;
}

button.next {
  right: 10px;
}

.secao {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 30rem;
  margin-bottom: 15rem;
}

.texto {
  width: 50%;
  height: 100%;
}

h2 {
  font-size: 4rem;
  line-height: 1;
  margin-bottom: 1.5rem;
}

.texto p {
  font-size: 1.7rem;
}

.secao img {
  width: auto;
  height: 100%;
  object-fit: cover;
}

footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 17rem;
  padding: 5rem;
  border-top: 2px solid var(--dark);
  background-color: var(--secondary);
}

.logo-direitos{
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  display: flex;
  flex-direction: column;

}

.imageLogo img{
  width: 50%;
}

.direitosReservados p {
  font-size: 2rem;
}

.textos {
  text-transform: capitalize;
  font-size: 2rem;
}

/* Estilos para telas de 370px */
@media (max-width: 370px) {
  .HeroContent p {
    font-size: 36px;
    line-height: 40px;
  }

  .Subtitulo p {
    font-size: 12px;
    line-height: 18px;
    margin: 0.5rem;
  }

  .LogoFuturize p {
    font-size: 16px;
    letter-spacing: 4px;
  }

  .MenuItens,
  .InicialUl,
  li,
  a {
    display: none;
  }

  .SignUp {
    font-size: 12px;
  }
}

/* Estilos para telas de 500px */
@media (max-width: 500px) {
  .HeroContent p {
    font-size: 42px;
    line-height: 46px;
  }

  .Subtitulo p {
    font-size: 14px;
    line-height: 22px;
    margin: 0.5rem;
  }

  .LogoFuturize p {
    font-size: 18px;
    letter-spacing: 4px;
  }

  .MenuItens,
  .InicialUl,
  li,
  a {
    display: none;
  }

  .SignUp {
    font-size: 14px;
  }
}

/* Estilos para telas de 600px */
@media (max-width: 600px) {
  .HeroContent p {
    height: 100%;
    font-size: 46px;
    line-height: 50px;
  }

  .Subtitulo p {
    font-size: 16px;
    line-height: 24px;
    margin: 0.5rem;
  }

  .LogoFuturize p {
    font-size: 20px;
    letter-spacing: 4px;
  }

  .MenuItens,
  .InicialUl,
  li,
  a {
    display: none;
  }

  .SignUp {
    font-size: 16px;
  }
}

/* Estilos para tablets (exemplo: tela com largura máxima de 768px) */
@media (max-width: 768px) {
  .HeroContent p {
    font-size: 50px;
    line-height: 54px;
  }

  .Subtitulo p {
    font-size: 16px;
    line-height: 24px;
    margin: 1rem;
  }

  .LogoFuturize p {
    font-size: 20px;
  }

  .MenuItens,
  .InicialUl,
  li,
  a {
    font-size: 16px;
  }

  .SignUp {
    font-size: 16px;
  }
}

/* Estilos para telas de 900px */
@media (max-width: 900px) {
  .HeroContent p {
    font-size: 54px;
    line-height: 58px;
  }

  .Subtitulo p {
    font-size: 18px;
    line-height: 26px;
    margin: 0.5rem;
  }

  .LogoFuturize p {
    font-size: 24px;
    letter-spacing: 4px;
  }

  .MenuItens,
  .InicialUl,
  li,
  a {
    font-size: 18px;
    gap: 12px;
  }

  .SignUp {
    font-size: 18px;
  }
}

/* Estilos para telas de 1200px */
@media (max-width: 1200px) {
  .Subtitulo p {
    font-size: 20px;
    line-height: 28px;
    margin: 0.5rem;
  }

  .LogoFuturize p {
    font-size: 26px;
    letter-spacing: 4px;
  }

  .MenuItens,
  .InicialUl,
  li,
  a {
    font-size: 20px;
    gap: 14px;
  }

  .SignUp {
    font-size: 20px;
  }
}
