.c-button {
  height: 55px;
  width: 150px;
  border-radius: 20px;
  background-color: #407BFF !important;
  color: #fff !important;
  font-family: "Poppins","Roboto", "Open Sans","Segoe UI" !important;
}

.c-button:focus,
.c-button:active,
.c-button:hover {
  outline: none !important;
}
