/* body {
  overflow: hidden;
} */

:root {
  --stroke-color: #fff;
  --surface-color: #8796A5;
  --highlight-color: #c5c4c4;
  --switch-bg-url: url(../../../public/assets/img/moon-stars.svg)
}

.container {
  width: 80vw;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.config-profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  background-color: #f9f9f9;
  padding: 1.5rem;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.headerProfile {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.profile-pic {
  border-radius: 100%;
  /* object-fit: cover; */
}

.user-info {
  /* border: 1px solid red; */
  flex-grow: 1;
}

.deseja{
  font-size: 15px;
  margin-bottom: 1rem;
  color: #8796A5;
  margin-top: 2rem;
}

.user-info .p-user-info {
  color: grey;
  font-size: 0.9rem;
  font-size: 1.2rem;
  margin-bottom: 1rem;
}
.inputs-edit-profile {
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.style-inputs {
  /* width: 50%; */
  height: 3rem;
  padding: .5rem;
  border: 2px solid #000000;
  border-radius: 8px;
  background: transparent;
  color: #000000; 
}

.alterar-senha {
  width: 50%;
}